<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>411307910801-d2na5jrrc759712vo59h3rgqmk29t86a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.411307910801-d2na5jrrc759712vo59h3rgqmk29t86a</string>
	<key>API_KEY</key>
	<string>AIzaSyD4ZQNDuHHHBSZDF1EwHWOLq1v4S_bEg_Q</string>
	<key>GCM_SENDER_ID</key>
	<string>411307910801</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>br.com.chat.Chat</string>
	<key>PROJECT_ID</key>
	<string>ichat-a2131</string>
	<key>STORAGE_BUCKET</key>
	<string>ichat-a2131.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:411307910801:ios:34eba2f077345d922d8130</string>
</dict>
</plist>